<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <head>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/systemcontrol/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/systemcontrol/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/systemcontrol/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/systemcontrol/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/systemcontrol/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/systemcontrol/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/systemcontrol/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/systemcontrol/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->

        <link href="/systemcontrol/assets/pages/css/login.min.css" rel="alternate stylesheet" class="loginSheet style-sheet" type="text/css" />

        <link href="/systemcontrol/assets/layouts/layout3/css/layout.min.css" rel="alternate stylesheet" class="wrapSheet style-sheet" type="text/css" />
        <link href="/systemcontrol/assets/layouts/layout3/css/themes/default.min.css" rel="alternate stylesheet" class="wrapSheet style-sheet" type="text/css" id="style_color" />
        <link href="/systemcontrol/assets/layouts/layout3/css/custom.min.css" rel="alternate stylesheet" class="wrapSheet style-sheet" type="text/css" />

        <script src="/systemcontrol/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/synloadframework/js/Markup.js"></script>
        <script type="text/javascript" src="/synloadframework/js/synframe.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                connect( location.hostname+(location.port ? ':'+location.port: ''), function(sf){
                    sf.requestSingle('get','index');
                    console.log('connected');
                });
            });
            function login(){
                _sf.request('post','login',{
                    "email":$('input[name="emailLogin"]').val(),
                    "password":$('input[name="passwordLogin"]').val()
                });
            }
            function register(){
                _sf.request('post','register',{
                    "email":$('input[name="emailRegister"]').val(),
                    "password":$('input[name="passwordRegister"]').val(),
                    "country":$('input[name="countryRegister"]').val(),
                });
                $(".register-form").hide();
                $(".login-form").hide();
            }
            function login(){
                _sf.requestSingle('post','logout');
            }
        </script>
    </head>
    <body>

    </body>
</html>