<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/systemcontrol/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/systemcontrol/assets/css/bootstrap-theme.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/systemcontrol/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="/synloadframework/js/Markup.js"></script>
        <script type="text/javascript" src="/synloadframework/js/synframe.js"></script>
        <script type="text/javascript">
            function status(feedback){
                var html = '<div class="alert alert-';
                html = html + ((feedback.status=="success")?'success':'');
                html = html + ((feedback.status=="error")?'danger':'');
                html = html + '">';
                html = html + '<button class="close" data-close="alert"></button>';
                html = html + '<span> '+feedback.message+' </span>';
                html = html + '</div>';
                return html;
            }
            $(document).ready(function(){
                connect( location.hostname+(location.port ? ':'+location.port: ''), function(sf){
                    sf.requestSingle('get','index');
                    sf.addCall(function(sf, ws, data){
                        $(".loginheader").after(status(data.feedback));
                    },"login_feedback");
                    sf.addCall(function(sf, ws, data){
                        $(".registerheader").after(status(data.feedback));
                    },"register_feedback");
                    console.log('connected');
                });
            });
            function login(){
                _sf.request('post','login',{
                    "email":$('input[name="emailLogin"]').val(),
                    "password":$('input[name="passwordLogin"]').val()
                });
            }
            function register(){
                _sf.request('post','register',{
                    "email":$('input[name="emailRegister"]').val(),
                    "password":$('input[name="passwordRegister"]').val(),
                    "country":$('select[name="countryRegister"]').val(),
                });
            }
            function logout(){
                _sf.requestSingle('post','logout');
            }
        </script>
    </head>
    <body>

    </body>
</html>