<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="page-header" style="border-bottom:none;">
                <h4>Synload Framework <small>Instances</small></h4>
            </div>
        </div>
        <div class="col-md-4">
            <div style="width:100%;text-align:center;">
                <a href="/" class="logo"><img src="/synloadframework/images/logo.png"/></a>
            </div>
        </div>
        <div class="col-md-4" style="text-align:right;">
            <div style="margin-top:20px;">
                <img src="http://www.gravatar.com/avatar/{{user.email|md5}}?s=50" style="border-radius:5px;border:2px solid #ccc;margin-right:20px;"/>
                <a href="javascript:;" onclick="logout();">Logout</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 content-wrapper">
        <div class="row" style="margin-bottom:20px;margin-top:10px;">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="tabDashboard instanceTab active"><a href="javascript:;" title="Create New Project" onclick="loadDashboard();">Dashboard</a></li>
                    {{projects}}<li role="presentation" class="tabID{{id}} instanceTab"><a href="javascript:;" onclick="_sf.request('get','project',{'project':'{{id}}'});">{{name}}:{{port}}</a></li>{{/projects}}
                    <li role="presentation" class="tabCreate instanceTab"><a href="javascript:;" title="Create New Project" onclick="_sf.requestSingle('get','createproject');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="row project-wrapper">

        </div>
    </div>
    <script type="text/javascript">
    $(".cssHack").attr("href","/systemcontrol/assets/css/main.css");
	_sf.update = function(){
		var maxHeight = 0;
		$('.panel-module').each(function(){
			var tmpHeight = $(this).outerHeight();
			if(tmpHeight>maxHeight){
				maxHeight = tmpHeight;
			}
		});
		$('.panel-module').css({'height':maxHeight+'px'});
	};
	_sf.update();
	_sf.requestSingle('get','dashboard');
</script>