<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Edit {{file}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-body">
                            <a class="btn btn-default" href="javascript:;" onclick="_sf.request('get','projectdata',{'project':'{{project.id}}'});" role="button">Back</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-body text-right">
                            <a class="btn btn-default saveButton" href="javascript:;" role="button">Save</a>
                            <a class="btn btn-success saveRestartButton" style="margin-left:10px;" href="javascript:;" role="button">Save and Restart</a>
                        </div>
                    </div>
                </div>
                <textarea id="pagecontent" class="col-md-12 form-control" rows="40">{{contents|clean}}</textarea>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-body">
                            <a class="btn btn-default" href="javascript:;" onclick="_sf.request('get','projectdata',{'project':'{{project.id}}'});" role="button">Back</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-body text-right">
                            <a class="btn btn-default saveButton" href="javascript:;" role="button">Save</a>
                            <a class="btn btn-success saveRestartButton" style="margin-left:10px;" href="javascript:;" role="button">Save and Restart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
			$(".saveButton").click(function(){
				_sf.action('save','edit',{"contents":$("#pagecontent").val(), "project":"{{project.id}}","file":"{{file}}"},function(data){
					if(data.p.status=="success"){
						_sf.request('get','projectdata',{"project":"{{project.id}}"});
					}
				});
			});
			$(".saveRestartButton").click(function(){
				_sf.action('save','edit',{"contents":$("#pagecontent").val(), "project":"{{project.id}}","file":"{{file}}","restart":"1"},function(data){
					if(data.p.status=="success"){
						_sf.request('get','projectdata',{"project":"{{project.id}}"});
					}
				});
			});
		</script>