<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Add Module</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-body">
                            <a class="btn btn-default" href="javascript:;" onclick="_sf.request('get','projectdata',{'project':'{{project.id}}'});" role="button">Back</a>
                        </div>
                    </div>
                </div>
                <div class="row jenkins-box">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="panel-body">
                            <form class="form-horizontal" action="javascript:;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Jenkins URL</label>
                                    <div class="col-sm-10">
                                        <input type="jenkins" class="form-control jenkinsurl" placeholder="http://ci.mysite.com/job/project/">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default jenkins">Add Module</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row jenkinsSelect-box">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="panel-body">
                            <form class="form-horizontal" action="javascript:;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Repository Modules</label>
                                    <div class="col-sm-10">
                                        <select class="form-control jenkinsSelectUrl">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default jenkinsSelect">Add Module</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var jenkinsData = {{moduleList}};
    var html="";
    $.each(jenkinsData.jobs, function(k, v){
        html='<option value="'+v.url+'">'+v.name+'</option>';
    });
    $(".jenkinsSelectUrl").html(html);
    $(".jenkins").click(function(){
        _sf.action('save', 'addmodule', {'jenkinsurl':$(".jenkinsurl").val(),'project':'{{project.id}}'}, function(data){
            if(data.p.status=="success"){
                _sf.request('get','projectdata',{'project':'{{project.id}}'});
            }else{
                switch(data.p.error){
                    case "failed":
                        $html = $(alertString("danger","Error!", "Could not find the module jar file."));
                        timeoutDestroy($html, "jenkins");
                    break;
                    case "notexist":
                        $html = $(alertString("danger","Error!", "Project does not exist."));
                        timeoutDestroy($html, "jenkins");
                    break;
                    case "sqlerror":
                        $html = $(alertString("danger","Error!", "Uh Oh! MySQL broke...."));
                        timeoutDestroy($html, "jenkins");
                    break;
                    case "notloggedin":
                        $html = $(alertString("danger","Error!", "Please refresh, login failed."));
                        timeoutDestroy($html, "jenkins");
                    break;
                }
            }
        });
    });
    $(".jenkinsSelect").click(function(){
        _sf.action('save', 'addmodule', {'jenkinsurl':$(".jenkinsSelectUrl").val(),'project':'{{project.id}}'}, function(data){
            if(data.p.status=="success"){
                _sf.request('get','projectdata',{'project':'{{project.id}}'});
            }else{
                switch(data.p.error){
                    case "failed":
                        $html = $(alertString("danger","Error!", "Could not find the module jar file."));
                        timeoutDestroy($html, "jenkinsSelect");
                    break;
                    case "notexist":
                        $html = $(alertString("danger","Error!", "Project does not exist."));
                        timeoutDestroy($html, "jenkinsSelect");
                    break;
                    case "sqlerror":
                        $html = $(alertString("danger","Error!", "Uh Oh! MySQL broke...."));
                        timeoutDestroy($html, "jenkinsSelect");
                    break;
                    case "notloggedin":
                        $html = $(alertString("danger","Error!", "Please refresh, login failed."));
                        timeoutDestroy($html, "jenkinsSelect");
                    break;
                }
            }
        });
    });
</script>